/* Styling for RAD List Homepage */

a {
    color:white;
}

a:hover {
    color:white;
    text-decoration: none;
} 

.bgimg {
    background-image: url(/static/img/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;  

}

.flash-msg {
    color: white;
    font-family: 'Arial';
    background: black;
}

#app-title {
    font-family: 'Shrikhand';
    color: white;
    font-weight: bold;
    font-size: 5em;
    padding-top: 210px;
    text-align: center;
    letter-spacing: 5px;
    
}

#app-title span.x {
    font-size: 16px;
    text-align: left;
}

#app-subtitle { 
    font-size: 24px;
    font-family: 'Blinker';
    text-align: center;
    color: white;
    margin-top: -36px;
    text-decoration: none;
    letter-spacing: 3px;
    opacity: .9;
}

.form-control {
    border-color: white;
    border-radius: 0%;
    background: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    margin-bottom: 10px;
}

.form-control::placeholder {
    color: white;
    font-family: 'Blinker';
}

#login-info {
    padding-top: 25px;
    text-align: center;
    color: white;
}

#submit-btn {
    background: transparent;
    color: white;
    margin-top: 20px;
    border-color: rgba(255, 255, 255, 0.89);
}

#signup-trigger {
    text-align: center;
    font-family: 'Blinker';
    color: white;
    margin-top: 20px;
}

#new-email, 
#new-password,
#new-fname, 
#new-lname {
    background-color: white;
    margin-bottom: 5px;
}

.modal-header, 
.modal-body, 
.modal-footer {
    background-color: black;
    color: white;
    font-family: 'Blinker';
    letter-spacing: 2px;
    align-content: center;
}

.modal-body {
    display: inline-block;
    font-family: 'Arial';
}

button#new-user-submit.btn.btn-primary {
    background-color: black;
    color: white;
    font-family: 'Blinker';
    border-color: #2d3832;
    width: 200px;
    height: 47px;
    margin-bottom: 15px;

}

#signup-form {
    text-align: center;
}


