<!DOCTYPE html>
<html>
<head>
  <title>R.A.D. List</title>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap" 
        rel="stylesheet">

   <!-- CSS -->
   <link rel="stylesheet" href="/static/css/stylesheet.css">
   <!-- Jquery -->
   <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

   <title>RAD List</title>
</head>
    
<body>
  {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
  <a href="http://localhost:5000/search"><strong>  RAD List  </strong></a><br><br>

    
    {% block body %}
    {% endblock %}
</body>
</html>