{% extends 'base.html' %}
{% block body %}
    <br>

    <div id="homepage">hey, i'm the start of a homepage!</div><br>

  
    <a href="http://localhost:5000/signup">Sign Up</a><br>
    <a href="http://localhost:5000/login">Login</a><br>
    <a href="http://localhost:5000/logout">Logout</a><br>
    <a href="http://localhost:5000/profile">User Profile</a><br>
    <a href="http://localhost:5000/new-playlist">Generated Playlist</a><br>
    <a href="http://localhost:5000/saved-playlists">Saved Playlists</a><br>
    <a href="http://localhost:5000/about-radlist">About</a><br>
    
    {% endblock %}    
    <!-- Javascript import -->  
    <script src="/static/radlist.js"></script>
    
</body>
</html>