{% extends 'base.html' %}
{% block body %}
    <!-- Navigation -->
    <a href="http://localhost:5000/signup">Sign Up</a> |
    <a href="http://localhost:5000/login">Login</a> |
    <a href="http://localhost:5000/logout">Logout</a> |
    <a href="http://localhost:5000/profile">User Profile</a> |
    <a href="http://localhost:5000/newplaylist/details">Previously Searched Playlist</a> |
    <a href="http://localhost:5000/playlists">Saved Playlists</a> |
    <a href="http://localhost:5000/about-radlist">About</a><br><br>

    <div id="homepage">Give us your favorite artist and we’ll make you a playlist with songs from similar artists that you’ll love!</div><br>
 
    <!-- Related artist form -->
    <div id="get-related-artists">
        <form id="get-related-artists" action="/new-playlist" method="POST">
            <label>Enter an artist: </label>    
            <input type="text" name="form_artist" />
        </form>
    </div>
    <br>
    <br>
  
    
    {% endblock %}    
    <!-- Javascript import -->  
    <script src="/static/radlist.js"></script>
    
</body>
</html>