{% extends 'base.html' %}
{% block body %}
<div id="songs-similar-to">
<h4 style="margin-top:20px;">SONGS SIMILAR TO:</h4>
<h2>{{ queried_artist }}</h2>
</div>
<!-- Button to save playlist -->
<div id ="save-playlist-btn">
    <form  class="col-sm-4 offset-sm-4" action="/playlists" method="POST"> 
       <input class="form-control form-control-lg" type="text" name=save_playlist_form id="save_playlist_form" placeholder="Save playlist as..." style="margin-left:10px;margin-top:10px;">
        <br>
    </form>
</div>

<table class="table table-striped" style="width:80%;margin-left:120px;margin-top:60px;"> 
     
    <thead>
        <tr> 
            <th>Artist Name</th>
            <th>Track Name</th>
            <th>Track Duration</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {% for artist in playlist_query_dict.keys() %}
                {{ artist }}<br>
                {{ artist }}<br>
                {% endfor %}
            </td>
            <td>
                {% for track in playlist_query_dict.values() %}
                {{ track[0] }}<br>
                {{ track[2] }}<br>
                {% endfor %}
            </td>
            <td>
                {% for dur in playlist_query_dict.values() %}
                {{ dur[1] }}<br>
                {{ dur[3] }}<br>
                {% endfor %}

            
            </td>
        </tr>
    </tbody>
    
</table>
<br>


    <div id="get-related-artists">
        <form id="get-related-artists" action="/new-playlist" method="POST">
            <label>Search again? </label>    
            <input type="text" name="form_artist" placeholder="enter an artist..."/>
        </form>
    </div>
</div>
{% endblock %}

</body>
</html>