{% extends 'base.html' %}
{% block body %}
<div class=bgnewplaylistimg>

  <div id="songs-similar-to">
    SONGS SIMILAR TO:
  </div>
<div id="queried-artist">
{{ queried_artist }}
</div>

<!-- Form input to save playlist -->
<div id="save-playlist-btn">
    <form  class="col-sm-4 offset-sm-9" action="/playlists" method="POST"> 
       <input class="form-control form-control-lg" type="text" name=save_playlist_form id="save-playlist-form" required="required" placeholder="+ Name playlist here to save">
    </form>
</div>


<div class="container box">
<table id="new-playlist-table" class="table table-light table-striped">
     
    <thead>
        <tr> 
            <th>ARTIST</th>
            <th>TRACK</th>
            <th>DURATION</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {% for artist in playlist_query_dict.keys() %}
                {{ artist }}<br>
                {{ artist }}<br>
                {% endfor %}
            </td>
            <td>
                {% for track in playlist_query_dict.values() %}
                {{ track[0] }}<br>
                {{ track[2] }}<br>
                {% endfor %}
            </td>
            <td>
                {% for dur in playlist_query_dict.values() %}
                {{ dur[1] }}<br>
                {{ dur[3] }}<br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
    
</table>
</div>
</div>
    

{% endblock %}
<script src="/static/js/newplaylisttable.js"></script>
</body>
</html>