{% extends 'base.html' %}
{% block body %}


<div id="saved-playlist-name">
    <h2>{{ session['FNAME'] }}'s Playlists:</h2>
    <h2 style="margin-top:20px; margin-left:40px; font-size: 40px;"><strong>{{ playlist_name }}</strong></h2>

<table class="table table-striped" style="width:80%;margin-left:120px;margin-top:60px;"> 
   
    <thead>
        <tr> 
            <th>Artist Name</th>
            <th>Track Name</th>
            <th>Track Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% for artist in session['queried_playlist'].keys() %}
                {{ artist }}<br>
                {{ artist }}<br>
                {% endfor %}
            </td>
       
            <td>
                {% for track in session['queried_playlist'].values() %}
                {{ track[0] }}<br>
                {{ track[2] }}<br>
                {% endfor %}
            </td>
            <td>
                {% for dur in session['queried_playlist'].values() %}
                {{ dur[1] }}<br>
                {{ dur[3] }}<br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<br>

{% endblock %}    

</body>
</html>