{% extends 'base.html' %}
{% block body %}


<div id="saved-playlist-name">
    <h2>{{ session['FNAME'] }}'s Playlists:</h2>
    <h2 style="margin-top:20px; margin-left:40px; font-size: 40px;"><strong>{{ playlist_name }}</strong></h2>

<table class="table table-striped" style="width:80%;margin-left:120px;margin-top:60px;"> 
   
    <thead>
        <tr> 
            <th>Artist Name</th>
            <th>Track Name</th>
            <th>Track Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% for artist in artists %}
                    {{ artist }}<br>
                {% endfor %}
            </td>
       
            <td>
                {% for track in tracks %}
                    {{ track }}<br>
                {% endfor %}
            </td>
            <td>
                {% for dur in track_durs %}
                    {{ dur }}<br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<br>




{% endblock %}    

</body>
</html>