{% extends 'base.html' %}
{% block title %}{{ fname }} {{ lname }}'s Profile{% endblock %}
{% block body %}

<img width=200 height=200 src="https://i.pinimg.com/originals/ab/4d/e0/ab4de08ece783245be1fb1f7fde94c6f.gif" /><br>


<div id="user-name"></div>
<div id="user-email"></div>

<!-- List of Saved Playlists (hidden)-->
<ul id="list">
    {% for playlist, playlist_id in playlists_and_playlist_ids.items() %}
    <li><a id="playlist-links" href="/playlists/{{ playlist_id }}">{{ playlist }}</a></li>
    {% endfor %}
</ul>

<!-- Show Saved Playlists Link-->
<a id="saved-playlists-link" href="http://localhost:5000/playlists">Click to see Saved Playlists</a><br>
<ul id="ul"></ul>




<script src="/static/js/user_profile.js"></script>
{% endblock %}

</html>