{% extends 'base.html' %}
{% block title %}{{ fname }} {{ lname }}'s Profile{% endblock %}
{% block body %}
<div class="profile-bg">

<div class="container">
    <div class="row">
      <div class="col">
        <div id="white-box">
          <img width=200 height=200 id="profile-img" src="/static/img/profileav.png" /><br>
        </div>
    </div>
      <div class="col">
          <div class="profile-details">
            <span class="profile-dt">Name:</span><div id="user-name"></div>
            <span class="profile-dt">Email:</span><div id="user-email"></div>
          </div>
      </div>
      <div class="col">
          <div class="saved-pl-expand">
        <!-- List of Saved Playlists (hidden)-->
            <ul id="list">
                {% for playlist, playlist_id in playlists_and_playlist_ids.items() %}
                <li><a id="playlist-links" href="/playlists/{{ playlist_id }}">{{ playlist }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- Show Saved Playlists Link-->
        <a id="saved-playlists-link" href="http://localhost:5000/playlists">Click to see Saved Playlists</a><br>
        <ul id="ul"></ul>

      </div>
    </div>
  </div>
</div>

<script src="/static/js/user_profile.js"></script>
{% endblock %}
</body>
</html>