{% extends 'base.html' %}
{% block body %}

                  <span><p class="text-center" style="padding-top: 12%;text-align: left;"> 
                             Give us your favorite artist</p>
                  <p class="text-center" style="text-align: left">
                             and we’ll make you a playlist with songs</p>
                  <p class="text-center" style="text-align: left" >
                             from similar artists that you’ll love!</p></span>
                          
 

    <!-- Related artist form -->
    <div id="get-related-artists">
        <form class="col-sm-4 offset-sm-4 "id="get-related-artists" action="/new-playlist" method="POST"> 
            <div class="row justify-content-center">
            <input class="form-control form-control-lg" type="text" name="form_artist" placeholder="enter an artist..." />
        </form>
    </div>
    </div>
    <br>
    <br>
  
    
    {% endblock %}    
   
</body>
</html>